<div class="container-fluid githuber-rank" style="margin-top:50px;">
	<div class="row">
		<div class="col-lg-9 infoNote full-rank">
			<table class="table table-striped rank-table">
				<tr>
					<td>排名</td>
					<td>头像</td>
					<td>用户名</td>	
				</tr>
				<tr ng-repeat="user in full_rank_data track by $index" class="rankInfo">
					<td>{{$index + 1}}</td>
					<td><img src="{{user.avatar_url}}" style="border-radius:10px;" /></td>
					<td><a href="https://github.com/{{user.login}}" target="_blank">{{user.login}}</a></td>
				</tr>
			</table>
		</div>
		<button class="btn btn-success" id="look-for-more">查看更多</button>
	</div>
</div>
